.navigation-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    li {
        list-style-type: none;

        a {
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        a:hover {
            opacity: .6;
            text-decoration: none;
            color: #fff;
        }

        &:first-child {

           a {
               margin-right: 10px;
           } 
           
        }

        &:last-child {
            a {
                margin-left: 10px;
            }
        }

        &:first-child {
            border-right: 1px solid #fff;
            color: #fff;
        }
    }
    
}