.line-container {
    height: 600px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
    .line-container {
        height: 500px;
        margin-bottom: 0px;
    }
}

@-webkit-keyframes move {

    from {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
}

@keyframes move {

    from {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
}

.line {

    height: 60%;
    width: 50%;
    border-right: 1px solid #fff;
    position: relative;
    -webkit-animation: move 2.5s infinite;
            animation: move 2.5s infinite;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 11px 0 11px;
        border-color: #fff transparent transparent transparent;
        right: -.75em;
        bottom: -2px;
    }
}

@media screen and (max-width: 1024px) {
    .line {
        height: 40%;
        top: 60px;
    }
}

@media screen and (min-width: 1000px) {

    .section-second {
        margin-bottom: 100px;
    }

}

