*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: rgb(39, 39, 39);
}

p, h1, h2, h3, h4, h5, h6, a {
    color: #fff;
    font-size: 1.2em;
}

@media screen and (min-width: 1000px) {
    p, h1, h2, h3, h4, h5, h6, a {
        font-size: 1.3em;
    } 
}

.card p, .card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    color: #000;
}

.site-container-navigation {
    max-width: 90%;
}

.site-container {
    max-width: 1100px;
    margin: 0 auto;
    max-height: 100vh;
}

@media screen and (max-width: 800px) {
    .site-container {
        margin: 20px 15px;
    }
}

img {
    width: 100%;
    height: auto;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.full-height {
    min-height: 100vh;
}

.display-desktop {
    display: block;
}

@media screen and (max-width: 550px) {
    .display-desktop {
        display: none;
    }
}

.display-phone {
    display: none;
}

@media screen and (max-width: 550px) {
    .display-phone {
        display: block;
    }
}

.w100 {
    width: 100%;
}

h1.information {
    font-size: 3em;
    text-decoration: underline;
    margin-bottom: 1em;
}

.p-layout-container {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    // border: 1px solid #ffffff10;
    padding: 20px;
    font-size: 1.3em;
    font-weight: lighter;
}

.p-layout-container {
    color: red;
}

@media screen and (max-width: 1200px) {

    .p-layout-container {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        // border: 1px solid #ffffff10;
        padding: 20px;
        font-size: 1.3em;
        font-weight: lighter;
    }

}

@media screen and (max-width: 600px) {

    .p-layout-container {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {

    .p-layout-container {
        font-size: 1em;
    }

}

.flex-center img {
    margin-bottom: 30px;
}

.section-header {
    margin-top: 10px;
    margin-bottom: 10px;
}


@media screen and (min-width: 550px) {

    .section-header img {
        margin-top: 50px;
        margin-bottom: 40px;
    }
}


@media screen and (min-width: 1000px) {

    .section-header img {
        margin-bottom: 100px;
        margin-top: 100px;
    }

}

.width1000plus {
    display: none;
}

@media screen and (min-width: 1000px) {

    .width1000plus {
        display: block;
    }
}

@media screen and (min-width: 1000px) {

    .width1000 {
        display: none;
    }
}

.site-image-fp { //fp = front-page
    max-width: 90%;
    height: auto;
}

@media screen and (min-width:1025px) {

    .site-image-ab {
        max-width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .site-image-ab { //ab = about
        max-width: 20%;
        height: auto;
    }
}

.img-phone,
.img-desktop {
    display: none;
}

@media screen and (max-device-width: 800px) {

    .img-phone {
        display: block;
    }

}

@media screen and (min-device-width: 801px) {

    .img-desktop {
        display: block;
    }

}
