
.burger-position .navigation-main {
    border-bottom: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}   

.navigation-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid #fff;

    li {

        margin: 0 10px;
        padding: 15px 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      
        &:last-child {
            padding-right: 100px;
        }

        &:hover {
            opacity: .6;
        }

        a {
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }  
    }
}

.burger-position {
    margin-top: 20px;
    margin-left: 20px;
}

.burger-line {
    width: 30px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
}

.burger-position .navigation-main {
    position: fixed;
    background: #313131;
    height: 100%;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    left: 0;
    top: 0;
    padding: 0;
    clip-path: circle(100px at -100px -100px); // first param after 'at' is for right and second param is for top
    -webkit-clip-path: circle(100px at -100px -100px);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 1;
    // display: none;

    li {
        justify-self: center;
        text-align: center;

        &:last-child {
            padding-right: 0;
        }
    }
}

.burger-position .navigation-main.open {
    clip-path: circle(1500px at 0 0); 
    -webkit-clip-path: circle(1500px at 0 0);
    pointer-events: all;
    z-index: 1;
}
