.section-opening-hours,
.section-adress,
.section-mail,
.section-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 0;
}

.section-container {
    margin: 50px 0 50px 0; 
    -webkit-box-shadow: 1px 1px 1px #fff; 
            box-shadow: 1px 1px 1px #fff;
}

.container-ml {
    margin-left: 50px;
}

@media screen and (max-width: 800px) {
    .container-ml{
        margin-left: 0px;
    }
}

.container-ml {

    section {

        h3 {
            font-size: 1.5em;
            text-decoration: underline;  
        }
    }
}


.mb {
    margin-bottom: 50px;
}

.section-adress,
.section-mail,
.section-phone {
    p {
        padding-left: 40px;
    }
}
