.heading-projekte h1 {
    font-size: 2.5em;
}

@media screen and (max-width: 1150px) {

    .heading-projekte h1 {
        margin-left: 10px;
    }
}

.image-layout img {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 870px) {
    .image-layout img {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.attachment-post-thumbnail {
    width: 50%;
    height: auto;
}

.card {
    margin-bottom: 50px;
    -webkit-box-shadow: 5px 5px 10px #000;
            box-shadow: 5px 5px 10px #000;

}


@media screen and (max-width: 1150px) {
    .card {
        margin: 0 10px 50px 10px;
    }

    .heading-projekte h1 {
        margin-left: 10px;
    }
}

.slick-slide { //margin between slides
    margin: 0 5px;
    border: 1px solid #fff;
}

.slick-list { // margin left and right even
    margin: 0 -5px;
}

.image-layout h4 {
    font-size: 2em;
    text-decoration: underline;
}

.image-layout h2 {
    font-size: 2.5em;
    text-decoration: underline;
}

.btn {
    float: right  ;
    background: rgb(15, 35, 94) ;
    border-radius: 10px;
    border: 2px solid #b8b8c1;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn:hover {
    opacity: .9;  
}

.btn:hover a {
    text-decoration: none;
    color: #fff;
}

.page-numbers {
    margin-left: 10px;
    -webkit-transition: .2s;
    transition: .2s;
    text-shadow: 1px 1px 5px #000;
    margin-bottom: 15px;
    display: inline-block;
}

.page-numbers:hover {
    margin-right: 10px;
    opacity: .5;
    text-decoration: none;
    color: #fff;
}    

.current {
    display: none;
}

//========================================================================================================
// single.php
//========================================================================================================
@media screen and (max-width: 1170px) {

    .slider-projekte {
        margin: 0 30px;
    }
}


@media screen and (max-width: 800px) {

    .slick-list {
        margin-bottom: 50px;
    }

    .slider-projekte {
        margin: 0 10px;
    }
}

