*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #272727;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #fff;
  font-size: 1.2em;
}

@media screen and (min-width: 1000px) {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    font-size: 1.3em;
  }
}

.card p,
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  color: #000;
}

.site-container-navigation {
  max-width: 90%;
}

.site-container {
  max-width: 1100px;
  margin: 0 auto;
  max-height: 100vh;
}

@media screen and (max-width: 800px) {
  .site-container {
    margin: 20px 15px;
  }
}

img {
  width: 100%;
  height: auto;
}

section {
  display: -webkit-box;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.full-height {
  min-height: 100vh;
}

.display-desktop {
  display: block;
}

@media screen and (max-width: 550px) {
  .display-desktop {
    display: none;
  }
}

.display-phone {
  display: none;
}

@media screen and (max-width: 550px) {
  .display-phone {
    display: block;
  }
}

.w100 {
  width: 100%;
}

h1.information {
  font-size: 3em;
  text-decoration: underline;
  margin-bottom: 1em;
}

.p-layout-container {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  font-size: 1.3em;
  font-weight: lighter;
}

.p-layout-container {
  color: red;
}

@media screen and (max-width: 1200px) {
  .p-layout-container {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    font-size: 1.3em;
    font-weight: lighter;
  }
}

@media screen and (max-width: 600px) {
  .p-layout-container {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .p-layout-container {
    font-size: 1em;
  }
}

.flex-center img {
  margin-bottom: 30px;
}

.section-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 550px) {
  .section-header img {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .section-header img {
    margin-bottom: 100px;
    margin-top: 100px;
  }
}

.width1000plus {
  display: none;
}

@media screen and (min-width: 1000px) {
  .width1000plus {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .width1000 {
    display: none;
  }
}

.site-image-fp {
  max-width: 90%;
  height: auto;
}

@media screen and (min-width: 1025px) {
  .site-image-ab {
    max-width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .site-image-ab {
    max-width: 20%;
    height: auto;
  }
}

.img-phone,
.img-desktop {
  display: none;
}

@media screen and (max-device-width: 800px) {
  .img-phone {
    display: block;
  }
}

@media screen and (min-device-width: 801px) {
  .img-desktop {
    display: block;
  }
}

.burger-position .navigation-main {
  border-bottom: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.navigation-main {
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid #fff;
}

.navigation-main li {
  margin: 0 10px;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation-main li:last-child {
  padding-right: 100px;
}

.navigation-main li:hover {
  opacity: 0.6;
}

.navigation-main li a {
  color: #fff;
}

.navigation-main li a:hover {
  text-decoration: none;
}

.burger-position {
  margin-top: 20px;
  margin-left: 20px;
}

.burger-line {
  width: 30px;
  height: 2px;
  background: #fff;
  margin-top: 5px;
}

.burger-position .navigation-main {
  position: fixed;
  background: #313131;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  left: 0;
  top: 0;
  padding: 0;
  clip-path: circle(100px at -100px -100px);
  -webkit-clip-path: circle(100px at -100px -100px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
  z-index: 1;
}

.burger-position .navigation-main li {
  justify-self: center;
  text-align: center;
}

.burger-position .navigation-main li:last-child {
  padding-right: 0;
}

.burger-position .navigation-main.open {
  clip-path: circle(1500px at 0 0);
  -webkit-clip-path: circle(1500px at 0 0);
  pointer-events: all;
  z-index: 1;
}

.line-container {
  height: 600px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .line-container {
    height: 500px;
    margin-bottom: 0px;
  }
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.line {
  height: 60%;
  width: 50%;
  border-right: 1px solid #fff;
  position: relative;
  -webkit-animation: move 2.5s infinite;
  animation: move 2.5s infinite;
}

.line::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #fff transparent transparent transparent;
  right: -0.75em;
  bottom: -2px;
}

@media screen and (max-width: 1024px) {
  .line {
    height: 40%;
    top: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .section-second {
    margin-bottom: 100px;
  }
}

.heading-projekte h1 {
  font-size: 2.5em;
}

@media screen and (max-width: 1150px) {
  .heading-projekte h1 {
    margin-left: 10px;
  }
}

.image-layout img {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 870px) {
  .image-layout img {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.attachment-post-thumbnail {
  width: 50%;
  height: auto;
}

.card {
  margin-bottom: 50px;
  box-shadow: 5px 5px 10px #000;
}

@media screen and (max-width: 1150px) {
  .card {
    margin: 0 10px 50px 10px;
  }

  .heading-projekte h1 {
    margin-left: 10px;
  }
}

.slick-slide {
  margin: 0 5px;
  border: 1px solid #fff;
}

.slick-list {
  margin: 0 -5px;
}

.image-layout h4 {
  font-size: 2em;
  text-decoration: underline;
}

.image-layout h2 {
  font-size: 2.5em;
  text-decoration: underline;
}

.btn {
  float: right;
  background: #0f235e;
  border-radius: 10px;
  border: 2px solid #b8b8c1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.btn:hover a {
  text-decoration: none;
  color: #fff;
}

.page-numbers {
  margin-left: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-shadow: 1px 1px 5px #000;
  margin-bottom: 15px;
  display: inline-block;
}

.page-numbers:hover {
  margin-right: 10px;
  opacity: 0.5;
  text-decoration: none;
  color: #fff;
}

.current {
  display: none;
}

@media screen and (max-width: 1170px) {
  .slider-projekte {
    margin: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .slick-list {
    margin-bottom: 50px;
  }

  .slider-projekte {
    margin: 0 10px;
  }
}

.section-opening-hours,
.section-adress,
.section-mail,
.section-phone {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 100px 0;
}

.section-container {
  margin: 50px 0 50px 0;
  box-shadow: 1px 1px 1px #fff;
}

.container-ml {
  margin-left: 50px;
}

@media screen and (max-width: 800px) {
  .container-ml {
    margin-left: 0px;
  }
}

.container-ml section h3 {
  font-size: 1.5em;
  text-decoration: underline;
}

.mb {
  margin-bottom: 50px;
}

.section-adress p,
.section-mail p,
.section-phone p {
  padding-left: 40px;
}

.navigation-footer {
  display: -webkit-box;
  display: flex;
}

.navigation-footer li {
  list-style-type: none;
}

.navigation-footer li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation-footer li a:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #fff;
}

.navigation-footer li:first-child a {
  margin-right: 10px;
}

.navigation-footer li:last-child a {
  margin-left: 10px;
}

.navigation-footer li:first-child {
  border-right: 1px solid #fff;
  color: #fff;
}

